<div class="card">
  <div class="card-header">
    <%= user.email %>
  </div>
  <div class="card-footer">
    <div class="row">
      Signed up:
      <%= time_ago_in_words(user.created_at) %> ago
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      Sign in count:
      <%= user.sign_in_count %> 
    </div>
    <div class="row">
      Current sign in at:
      <%= user.current_sign_in_at %> 
    </div>
    <div class="row">
      Last sign in at:
      <%= user.last_sign_in_at %> 
    </div>
    <div class="row">
      Current sign in IP:
      <%= user.current_sign_in_ip %> 
    </div>
    <div class="row">
      Last sign in IP:
      <%= user.current_sign_in_ip %> 
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      Confirmed email? 
    </div>
    <div class="row">
        <% if user.confirmed_at.present? %>
          <div class="badge badge-success"> Yes </div>
        <% else %>
          <div class="badge badge-danger"> No </div>
        <% end %>
    </div>
  </div>
</div>
